
._form{

    border:1px solid lightgray;
    border-radius: 5px;
    background-color: white;


}
._logoDiv{
  margin-top: 20px;
  display: flex;
  justify-content:center;

}
._mainColumn{
  height:100vh;
  display: flex;
  flex-direction: column;
justify-content: center;
}

._button{
  width:100%;
}


._underline {

  height: 1px;
  border-top: 1px solid black;
  text-align: center;
  position: relative;
}
span {
  position: relative;

  top: -.8em;
  background:  white;
  display: inline-block;
  color:gray;
}
@media (max-width:480px){

._mainColumn{

      background-color: white;
}
._form{
  border:none;

}
}
